h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button,
a {
  list-style: none;
  text-decoration: none;
  user-select: none;
  margin: 0;
  padding: 0;
}
button,
a {
  color: inherit;
  cursor: pointer;
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
