$colorPool: (
  'black': #000,
  'white': #fff,
  'grey': #8c8c8c,

  'gray-light': #f7f7f7,
  'accent': #ff6b08,
  'accent-link': #ff001b,
  'text': #545454,

  'orange': #ff6b01,
);
:root {
--main-text-color-black:#000;

--dark-bg-color: #272e34;
  --dark-text-color: #fff;
  
// --main-text-color-orange:#ff6b08;
// --secondary-text-color:#fff;
// --light-bg-color:#fff;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

// 

// 

// :root.light {
//   --bg-color: #fff;
//   --text-color: #123;
// }

// :root.dark {
//   --bg-color: #272e34;
//   --text-color: #fff;
// }
