<header class="page-header page-header__home page-header__library">
  <div class="container">
    <div class="page-header__inner-nav">
      <a href="./index.html" class="link logo">
        <svg class="icon logo__icon" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="./index.html" class="link link--current site-nav__link"
              >Home</a
            >
          </li>
          <li class="site-nav__item visually-hidden">
            <a
              href="./my-library.html"
              class="link site-nav__link"
              data-value="libraryRef"
              >my library</a
            >
          </li>
          <li class="site-nav__item">
            <a class="link site-nav__link signIn" data-action="sign-up"
              >Sign up</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="page-header__inner-form js-header-form">
      <form class="form page-header__form">
        <input
          name="searchQuery"
          type="text"
          placeholder="Movie search"
          class="page-header__input"
          autocomplete="off"
        />
        <button aria-label="search button" class="form__button" type="submit">
          <svg class="form__icon" width="12" height="12">
            <use href="./images/svg/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <div class="page-header__error">
        <p class="page-header__error-text is-hidden">
          Search result not successful. Enter the correct movie name and try
          again.
        </p>
      </div>
    </div>
  </div>
</header>
