<div class="preloader visually-hidden">
  <div class="loader">
    <div class="loader__container">
      <div class="loader__film">
        <img
          width="33"
          height="33"
          class="loader__film-img"
          src="./images/preloader/roll1.png"
          alt="roll"
        />
        <img
          width="33"
          height="33"
          class="loader__film-img"
          src="./images/preloader/roll2.png"
          alt="roll"
        />
      </div>
      <img
        width="80"
        height="41"
        class="loader__camera"
        src="./images/preloader/camera.png"
        alt="camera"
      />
    </div>
  </div>
</div>
