<div class="backdrop is-hidden js-team__modal" id="team-modal" data-teammodal>
  <div class="team__modal">
    <!-- <div class="container"> -->
    <h2 class="team__title">OUR TEAM</h2>

    <ul class="team__list">
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Dmitry Yerenko.jpg"
          alt="Dmitry Yerenko"
          width="200"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team__link"
                href="https://www.linkedin.com/in/dmitry-yerenko-70b796259/"
              >
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Maxim Sidorenko.jpeg"
          alt="Maxim Sidorenko"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Maxim Sidorenko</h3>
          <p class="team-wrapper__text">Team Leader</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team__link"
                href="
https://www.linkedin.com/in/max-sidorenko-1a47bb243/"
              >
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Sergey Kotcinskiy.jpeg"
          alt="Sergey Kotcinskiy"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Sergey Kotcinskiy</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a
                class="team__link"
                href="https://www.facebook.com/profile.php?id=100083799061802&mibextid=LQQJ4d"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team__link"
                href="http://linkedin.com/in/serhii-kotsynskyi-08156122a"
              >
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a
                class="team__link"
                href="https://www.instagram.com/invites/contact/?i=zndh8r8giphn&utm_content=msagl"
              >
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Solomakha Vladyslav.jpeg"
          alt="Solomakha Vladyslav"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Solomakha Vladyslav</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team__link"
                href="https://www.linkedin.com/in/vladyslav-solomakha-281594259"
              >
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a
                class="team__link"
                href="https://www.instagram.com/solomakha.vladislav/"
              >
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Ievgen Plakhotniuk.jpg"
          alt="Ievgen Plakhotniuk"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Ievgen Plakhotniuk</h3>
          <p class="team-wrapper__text">Scrum Master</p>

          <ul class="team__list-icon">
            <li>
              <a
                class="team__link"
                href="https://www.facebook.com/profile.php?id=100001253028429"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team__link"
                href=" https://www.linkedin.com/in/ievgen-plakhotniuk-733ab3139/"
              >
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Dmitry Yerenko.jpg"
          alt="Dmitry Yerenko"
          width="200"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Dmitry Yerenko.jpg"
          alt="Dmitry Yerenko"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Dmitry Yerenko.jpg"
          alt="Dmitry Yerenko"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Dmitry Yerenko.jpg"
          alt="Dmitry Yerenko"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__img"
          src="/src/images/team-modal/Dmitry Yerenko.jpg"
          alt="Dmitry Yerenko"
          width="270"
          height="260"
        />
        <div class="team-wrapper">
          <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
          <p class="team-wrapper__text">Fullstack developer</p>

          <ul class="team__list-icon">
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team__link" href="#"
                ><svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a class="team__link" href="#">
                <svg width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button class="team-modal__button" type="button">
      <svg width="20" height="20">
        <use href="/src/images/sprite/icons.svg#icon-icon-close2"></use>
      </svg>
    </button>
    <!-- </div> -->
  </div>
</div>
