<div class="backdrop is-hidden" data-teammodal>
  <div class="team__modal">
    <div class="container">
      <h2 class="team__title">Наша команда</h2>
      <ul class="team__list">
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="200"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="200"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="/src/images/team-modal/IMG-5540 1.jpg"
            alt="Dmitry Yerenko"
            width="270"
            height="260"
          />
          <div class="team-wrapper">
            <h3 class="title team-wrapper__title">Dmitry Yerenko</h3>
            <p class="team-wrapper__text">Fullstack developer</p>

            <ul class="team__list-icon">
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="team__link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/sprite/icons.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li>
                <a class="team__link" href="#">
                  <svg width="20" height="20">
                    <use href="./images/sprite/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
