.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 120;

  visibility: visible;
  opacity: 1;

  background-color: #00000025;

  transition: opacity var(--transition), visibility var(--transition);

  @include mq(desktop) {
    background-color: transparent;
  }

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  display: flex;
  padding: 40px 36px;
  width: 280px;

  background-color: map-get($colorPool, 'white');
  position: absolute;
  left: 50%;
  top: 20px;
  max-height: 95%;
  transform: translate(-50%, 0);
  box-shadow: 4px 3px 12px -1px #ff6b0880;
  overflow: auto;

  @include mq(mobile) {
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
  }
  @include mq(tablet) {
    width: 704px;
    top: 219px;
    padding: 40px 72px 40px 36px;
    gap: 68px;
    max-height: 50%;
  }
  @include mq(desktop) {
    width: 806px;
    top: 150px;
    padding: 40px 12px;
    gap: 16px;
    max-height: 80%;
  }
}

.modal__img-wrapper {
  border-radius: 5px;
  height: 100%;
  @include mq(mobile) {
    width: 240px;
  }
  @include mq(tablet) {
    width: 264px;

  }
  @include mq(desktop) {
    width: 375px;
  }
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mq(mobile) {
    width: 240px;
  }
  @include mq(tablet) {
    width: 264px;

  }
  @include mq(desktop) {
    width: 375px;
  }
}

.modal__title {
  @include fonts(20px, 23px, 500);

  @include mq(desktop) {
    @include fonts(30px, 35px);
  }
}

.modal__data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include fonts(12px, 16px, 500);

}

.modal__data-number {
  @include fonts(12px, 14px);
}

.modal__data-ratio {
  padding: 1px 9px;
  border-radius: 5px;
  color: map-get($colorPool, 'white');
  background-color: map-get($colorPool, 'orange');
}

.modal__data-info {
  display: flex;
  align-items: baseline;
}
.modal__data-info--grey {
  color: map-get($colorPool, 'grey');
  width: 108px;
}

.modal__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include fonts(12px, 16px, 500);
}

.modal__description-about {
  @include fonts(12px, 20px, 500);
  overflow-y: auto;
  max-height: 80px;

  @include mq(tablet) {
    max-height: 95px;
  }

  @include mq(desktop) {
    max-height: 320px;
  }
}

.button-close {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: transparent;
  background-color: transparent;
  color: map-get($colorPool, 'black');

  transition: color var(--transition);

  &:hover,
  &:focus {
    color: map-get($colorPool, 'orange');
  }
}

.button-close__icon {
  fill: currentColor;
}

.modal__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include mq(tablet) {
    gap: 15px;
  }
  @include mq(desktop) {
    justify-content: start;
    margin-left: 8px;
  }
}

.modal__button {
  @include fonts(12px, 16px, 500);
  color: map-get($colorPool, 'black');
  border: 1px solid black;
  border-radius: 5px;
  background-color: map-get($colorPool, 'white');
  width: 110px;
  height: 44px;
  padding: 5px;

  &:hover,
  &:focus {
    color: map-get($colorPool, 'white');
    border: 1px solid orange;
    background-color: map-get($colorPool, 'orange');

  }
  @include mq(tablet) {
    width: 125px;
  }
  @include mq(desktop) {
    width: 136px;
  }
}
