.theme{
    position: fixed;
    top: 70px;
    right: 20px;
    background-color:transparent;
    padding: 4px;
    border-radius: 20%;
    border: none;
    display: flex;
    cursor: pointer;
    z-index: 1;
    &:hover,
        &:focus {
            background-color: map-get($colorPool, 'orange');
        }
}
.lightTheme__icon{
    position: absolute;
    
    fill: white;
    stroke: white;
 
}
.lightTheme__icon.is-darkTheme{
    opacity: 0;
}

.darkTheme__icon{
    fill: blue;
    stroke: blue;

}
.darkTheme__icon.is-lightTheme{
    opacity: 0;
}
