.theme{
    position: fixed;
    top: 50px;
    right: 20px;
    // background-color:white;
    padding: 4px;
    // padding-bottom: 0;
    border-radius: 20%;
    border: solid 2px green;
    display: flex;
    cursor: pointer;
}
.lightTheme__icon{
    position: absolute;
    
    fill: yellow;
    stroke: yellow;
}
.lightTheme__icon.is-darkTheme{
    opacity: 0;
}

.darkTheme__icon{
    fill: blue;
    stroke: blue;
    // background-color: blue;
    
}
.darkTheme__icon.is-lightTheme{
    opacity: 0;
}

.dark{
    background-color:var(--dark-bg-color);
    color:var(--dark-text-color);
}