.films-list {
  display: grid;
  gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);

  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @include mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  &__item {
    // flex-basis: 100%;

    // flex-basis: calc((100% - 32px) / 2);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      // display: block;
      transform: scale(1.015);
      box-shadow: 4px 3px 12px -1px rgb(255 107 8 / 50%);
    }

    // @media screen and (min-width: 768px) {
    //   // flex-basis: 45%;
    // }
    // @media screen and (min-width: 1280px) {
    //   // flex-basis: 32%;
    //   // flex-basis: calc((100% - 32px) / 3);
    // }
  }

  &__img {
    // max-width: 280px;

    @media screen and (min-width: 768px) {
      // max-width: 336px;
      height: 455px;
    }

    @media screen and (min-width: 1280px) {
      // max-width: 395px;
      height: 574px;
    }
  }

  &__title {
    margin-top: 10px;
    max-width: 280px;

    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.1667;
    text-transform: uppercase;
color: var(--text-color);
    // color: map-get($colorPool, 'black');

    @media screen and (min-width: 768px) {
      max-width: 336px;
      line-height: 1.3333;
    }

    @media screen and (min-width: 1280px) {
      max-width: 395px;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__text-ganres,
  &__span,
  &__text-date,
  &__text-rating {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333;

    color: map-get($colorPool, 'orange');

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
