.site-nav {
  margin-left: auto;
  text-align: center;
  &__list {
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    margin-left: 10px;
    @include mq(tablet) {
      margin-left: 39px;
    }
  }

  &__link {
    @include fonts(12px, 14px);
    padding: 6px 0;
    text-transform: uppercase;
    text-align: center;

    color: map-get($colorPool, 'white');
  }
  &__item:last-child {
    @include mq(mobile) {
      width: 100px;
      overflow: hidden;
      // white-space: nowrap;
      text-overflow: ellipsis;
      color: map-get($colorPool, 'orange');
    }
  }
  &__item:last-child .signIn {
    color: map-get($colorPool, 'orange');
  }
}
