.team__modal {
  text-align: center;
  position: relative;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 520px;
  overflow: auto;
  background-color: #252b42;
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 1024px;
  }
  @media screen and (min-width: 1280px) {
    width: 1200px;
    height: 900px;
  }
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ff6b01;
  @media screen and (min-width: 768px) {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

.team__img {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    width: 300px;
    height: 374px;
  }
  @media screen and (min-width: 1280px) {
    width: 206px;
    height: 260px;
  }
}

.team__item {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item + .team__item {
  margin-top: 30px;

  @media screen and (min-width: 767px) {
    margin-top: 0;
  }
}

.team-wrapper__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-wrapper__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__list-icon {
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.team__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: tomato;
    fill: blue;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    margin-left: 50px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .team__list {
    margin-left: 20px;
  }
}
